{% extends 'base.html.twig' %}

{% block title 'Liste des bien' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center"><a href="{{ path('property.index') }}">Immo Agence</a></h1>
            <p>
                Notre site Web vous permet de rechercher des listes de propriétés et comprend
                un grand inventaire de villas de luxe qui correspondent à vos choix
                de style de vie tels que le front de mer, le golf, les vacances,
                la montagne et bien d'autres.
            </p>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">Les dérnier biens</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') }}" alt="Card image cap" style="width: 100%; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="" href="{{ path('property.show', {id: property.id, slug: property.slug }) }}">{{ property.title }}</a>
                        </h5>
                        <p class="card-text">{{ property.description }}</p>
                        <div class="text-primary"><strong>{{ property.price }} Dhs</strong></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center text-primary mt-2">
            <a href="{{ path('gallery.index') }}">Gallerie -></a>
        </div>
    </div>
{% endblock %}